.bigpic{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.id-card{
  width: 250px;
  height: 390px;
  margin-right: 18px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.Name{
  font-size: 25px;
  margin-left: 8px;
  font-weight: bold;
}
.des{
  font-size: 20px;
  margin-left: 8px;
  color: rgb(96,96,96);
}
button{
  border: none;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(27, 83, 235, 0.719);
}
button:hover{
  cursor: pointer;
  background-color: rgba(27, 78, 218, 0.719);
}
.thumbnail-row{
  margin-left: 10px;
  margin-bottom: 0px;
}
.thumbnail{
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-pic{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 60px;
  display: inline-block;
}
.mutual-friends{
  display: inline-block;
  vertical-align: middle;
  width: 160px;
}
.des{
  font-size: 16px;
  width: 160px;
}